footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #f2f2f2;
    margin-top: 3rem;
}

footer div {
    width: 31%;
    padding: 2rem;
}

footer ul {
    display: inline;
}

footer li {
    padding: 0.5rem 0;
}

@media screen and (max-device-width: 768px) {
    footer {
        flex-direction: column;
    }

    footer div {
        width: auto;
    }
}
