body {
    font-family: "Raleway", arial, sans-serif;
    margin: auto;
    max-width: 1920px;
    padding: 0 2rem 0 2rem;
}

@media screen and (max-device-width: 768px) {
    body {
        padding: 0rem;
    }
}

.logo {
    padding: 1em;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    width: auto;
}
nav li {
    display: flex;
    justify-content: center;
    width: 10em;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

.inscription {
    font-weight: bold;
    color: #0065fc;
}

.anchor:hover {
    border-top: solid 3px #0065fc;
    color: #0065fc;
}

@media screen and (max-device-width: 768px) {
    /* Règles CSS pour les mobiles ici */

    nav ul {
        margin: 0;
        padding: 0;
        justify-content: flex-start;
        width: auto;
    }
    nav li {
        margin: 0;
    }

    nav {
        display: block;
    }

    .inscription {
        position: absolute;
        top: 2em;
        right: 0em;
    }

    .anchor {
        width: 50%;
        border-bottom: solid 3px #f2f2f2;
        padding-bottom: 1em;
    }
    .anchor:hover {
        border-top: none;
        border-bottom: solid 3px #0065fc;
        color: #0065fc;
    }
}

/* 
Search box start
================================================================= 
*/

.search {
    padding: 1em;
}

.searchTextTitle {
    margin-bottom: 0.5em;
}
.searchTextSubtitle {
    margin-top: 0;
}

.form {
    display: flex;
    height: 3em;
}

#location {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 1em 0 0 1em;
    width: 3em;
    align-items: center;
}

.fa-map-marker-alt {
    font-size: 1.1em;
}

input {
    font-size: 1.1em;
    border: none;
    font-family: "Raleway";
}

.formInput::placeholder {
    color: black;
    font-weight: bold;
}

.formInput {
    border: 1px solid #f2f2f2;
    padding-left: 15px;
}

.formSubmit {
    font-weight: 200;
    background-color: #0065fc;
    color: white;
    border-radius: 0 1em 1em 0;
    width: 7em;
}

.formSearch {
    display: none;
}

@media screen and (max-device-width: 768px) {
    /* Règles CSS pour les mobiles ici */

    .formSubmit {
        display: none;
    }

    .formSearch {
        width: 3em;
        display: flex;
        justify-content: center;
        background-color: #0065fc;
        align-items: center;
        border-radius: 1em;
        color: white;
        position: relative;
        right: 15px;
    }

    .formInput {
        width: 75%;
    }
}

/* 
Search box end
================================================================= 
*/

/* 
Filters start
================================================================= 
*/
.filtersSections {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
.filterTitle {
    display: flex;
    align-items: center;
    margin-left: 0;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 1em;
    margin-right: 1.5em;
}

.filter {
    display: flex;
    align-items: center;
    margin-right: 2em;
    border: 2px solid #d9d9d9;
    border-radius: 2em;
    margin-bottom: 1em;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}

.filterTags {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.filterIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #deebff;
    border-radius: 100%;
    height: 3em;
    width: 3em;
    min-height: 3.5em;
    min-width: 3.5em;
    margin: -2px;
}
.filterIconIcon {
    color: blue;
}

.filterText {
    display: flex;
    align-items: center;
    padding: 0 1em 0 1em;
    text-transform: capitalize;
}

.filterInfo {
    display: flex;
    align-items: center;
    padding: 1em;
}

.filterInfoIcon {
    height: 2em;
    width: 2em;
    min-height: 2em;
    min-width: 2em;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}

.filterInfoIconIcon {
    color: #0065fc;
}

.filterInfoText {
    margin: 0;
}

#filter1:hover,
#filter2:hover,
#filter3:hover,
#filter4:hover {
    background-color: #f2f2f2;
}

@media screen and (max-device-width: 768px) {
    .filtersSections {
        flex-wrap: wrap;
    }

    .filterTitle {
        width: 100%;
    }

    .filterTags {
        flex-wrap: wrap;
    }

    .filter {
        margin-bottom: 0.5em;
    }
    .filterIcon {
        height: 3em;
        width: 3em;
        margin: -2px;
    }
}

/* 
Filters end
================================================================= 
*/
