/* Hosting Section */
.hosting-section {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 3fr 6fr;
    height: auto;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    display: flex;
    padding: 0;
    list-style-type: none;
}

@media screen and (max-device-width: 768px) {
    .hosting-section {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}

/* Hosting Section */

/* Aside */

.most-popular {
    display: grid;
    row-gap: 2rem;
    grid-template-rows: auto repeat(3, 1fr);
    background-color: #f2f2f2;
    padding: 2rem;
    border-radius: 1.5rem;
}

.popular-thumbnail-card {
    margin-top: 1rem;
    padding: 7px;
    background-color: white;
    border-radius: 1rem;
}

.popular-thumbnail-card-a {
    display: flex;
    height: 100%;
}

.div-img {
    position: relative;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    width: 40%;
    min-width: 40%;
    max-width: 40%;
}

.popular-thumbnail-card-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    border-radius: 1rem 0 0 1rem;
    position: absolute;
}

.most-popular-title {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.popular-thumbnail-card-text-container {
    margin-left: 2rem;
}

.popular-thumbnail-card-text-title {
    margin: 0;
}

.popular-thumbnail-card-text-price {
    margin: 0.5rem 0 0 0;
}

.popular-thumbnail-card-text-note {
    margin: 3rem 0 0 0;
    color: #0065fc;
}

.star[data-active="true"] {
    color: #0065fc;
}
.star[data-active="false"] {
    color: #d2caca;
}

@media screen and (max-device-width: 768px) {
    .most-popular {
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(3, 1fr);
        border-radius: 0em;
    }

    .popular-thumbnail-card-image {
        object-fit: cover;
        max-width: 40%;
        max-height: 100%;
        border-radius: 1rem 0 0 1rem;
    }
}

/* Aside */

/* Hosting */

.hosting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1.5rem;
    height: auto;
    padding: 1rem;
    background-color: #f2f2f2;
}

.hosting-thumbnail-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: auto;
    max-width: 1920px;
}

.hosting-thumbnail-card {
    display: block;
    width: 28%;
    height: fit-content;
    margin: 1rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 20px #0000001f;
    padding: 7px;
    background-color: white;
}

.hosting-thumbnail-card-div-img {
    position: relative;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    height: 55%;
    min-height: 55%;
    max-height: 55%;
}

.hosting-thumbnail-card-text-note {
    color: #0065fc;
}

.responsive {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.hosting-title {
    padding: 7px;
    margin: 1rem;
}

.showmore-link {
    font-weight: bold;
    padding: 7px;
    margin: 1rem;
}

@media screen and (max-device-width: 768px) {
    .hosting {
        border-radius: 0em;
        background-color: white;
    }

    .hosting-thumbnail-card-container {
        flex-direction: column;
        justify-content: start;
        align-content: space-between;
    }

    .hosting-thumbnail-card {
        width: 90%;
    }
}

/* Hosting */
