/* Hosting Section */
.hosting-section {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
    height: auto;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    display: flex;
    padding: 0;
    list-style-type: none;
}

@media screen and (max-device-width: 768px) {
    .hosting-section {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}

/* Hosting Section */

/* Aside */

.most-popular {
    display: grid;
    row-gap: 2rem;
    grid-template-rows: auto repeat(3, 1fr);
    background-color: #f2f2f2;
    padding: 2rem;
    border-radius: 1.5rem;
}

.popular-thumbnail-card {
    margin-top: 1rem;
    padding: 7px;
    background-color: white;
    border-radius: 1rem;
}

.popular-thumbnail-card-a {
    display: flex;
    height: 100%;
}

.div-img {
    position: relative;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    width: 40%;
    min-width: 40%;
    max-width: 40%;
}

.popular-thumbnail-card-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    border-radius: 1rem 0 0 1rem;
    position: absolute;
}

.most-popular-title {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.popular-thumbnail-card-text-container {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.popular-thumbnail-card-text-title {
    margin: 0;
}

.popular-thumbnail-card-text-price {
    margin: 0.5rem 0 0 0;
}

.popular-thumbnail-card-text-note {
    margin: 3rem 0 0 0;
    color: #0065fc;
}

.star[data-active="true"] {
    color: #0065fc;
}
.star[data-active="false"] {
    color: #d2caca;
}

@media screen and (max-device-width: 768px) {
    .most-popular {
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(3, 1fr);
        border-radius: 0em;
        grid-row-start: 1;
    }

    .popular-thumbnail-card-image {
        object-fit: cover;
        max-width: 40%;
        max-height: 100%;
        border-radius: 1rem 0 0 1rem;
    }
}

/* Aside */

/* Hosting */

.hosting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1.5rem;
    height: auto;
    padding: 1rem;
    background-color: #f2f2f2;
}

.hosting-thumbnail-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: auto;
    max-width: 1920px;
}

.hosting-thumbnail-card {
    display: block;
    width: 28%;
    height: fit-content;
    margin: 1rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 20px #0000001f;
    padding: 7px;
    background-color: white;
}

.hosting-thumbnail-card-div-img {
    position: relative;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    height: 55%;
    min-height: 55%;
    max-height: 55%;
}

.hosting-thumbnail-card-text-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.hosting-thumbnail-card-text-container > h3 {
    margin: 0em;
}

.hosting-thumbnail-card-text-container > p {
    margin: 0.5em 0 0 0;
}

.hosting-thumbnail-card-text-container > ul {
    margin: 0.5em 0 0 0;
}

.hosting-thumbnail-card-text-note {
    color: #0065fc;
}

.responsive {
    height: 8rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.hosting-title {
    padding: 7px;
    margin: 1rem;
}

.showmore-link {
    font-weight: bold;
    padding: 7px;
    margin: 1rem;
}

@media screen and (max-device-width: 768px) {
    .hosting {
        border-radius: 0em;
        background-color: white;
    }

    .hosting-thumbnail-card-container {
        flex-direction: column;
        justify-content: start;
    }

    .hosting-thumbnail-card {
        width: 90%;
    }
}

/* Hosting */

/* Activity section */

.activity-section {
    display: flex;
    flex-direction: column;
    height: 70%;
    margin-top: 3rem;
}

.activity-section-title h2 {
    padding: 7px;
    margin: 1rem;
}

.activity-section-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.activity-section-card-container h3 {
    padding-left: 1rem;
}

.col1 {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    height: 500px;
    width: 22%;
    border-radius: 15px;
    margin: 1rem 0;
    box-shadow: 0 0 20px #0000001f;
}

.imgActivity1 {
    border-radius: 10px 10px 0 0;
    height: 90%;
    object-fit: cover;
}

.col2 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 22%;
    height: 500px;
    border-radius: 15px;
    margin: 1rem 3rem;
}

.linkImgActivity2 {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    height: 55%;
    box-shadow: 0 0 20px #0000001f;
}

.imgActivity2 {
    height: 80%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.linkImgActivity3 {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    height: 35%;
    box-shadow: 0 0 20px #0000001f;
}

.imgActivity3 {
    height: 70%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.col3 {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    height: 500px;
    width: 22%;
    border-radius: 15px;
    margin: 1rem 0;
    box-shadow: 0 0 20px #0000001f;
}

.imgActivity4 {
    border-radius: 10px 10px 0 0;
    height: 90%;
    object-fit: cover;
}

.col4 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 22%;
    height: 500px;
    border-radius: 15px;
    margin: 1rem 0 1rem 3rem;
}

.linkImgActivity5 {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    height: 35%;
    box-shadow: 0 0 20px #0000001f;
}

.imgActivity5 {
    height: 70%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.linkImgActivity6 {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    height: 55%;
    box-shadow: 0 0 20px #0000001f;
}

.imgActivity6 {
    height: 80%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

@media screen and (max-device-width: 768px) {
    .activity-section {
        margin-top: 0rem;
    }

    .activity-section-title h2 {
        padding: 7px;
        margin: 1rem;
        margin-left: 2rem;
    }

    .activity-section-card-container {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        align-items: center;
    }

    .activity-section-card-container a,
    .activity-section-card-container div {
        width: 90%;
    }

    .activity-section-card-container div a {
        width: 100%;
    }

    .col1,
    .col2,
    .col3,
    .col4 {
        margin: 1rem;
    }
}
